# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# User-specific files
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Local configuration files
local.properties
gradle.properties

# Ignore Gradle user home directory
~/.gradle

# Android
/app/build/